.header {
    background-color: var(--white);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.logo {
    width: 220px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7%;
}

.ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

.ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;


}

.ul li:hover {
    color: var(--bg-blue);
}

.phoneNumbers {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 100px;
    margin: 0px;
}

.freeCall {
    align-self: flex-start;
    grid-column: -2/-1;
    color: var(--bg-blue);
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.phoneNumbers p {
    margin: 5px;
}

.login {
    font-size: 18px;
}

.login:hover {
    fill: var(--bg-blue);
}