.header {
    background-color: var(--white);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.logo {
    width: 220px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7%;
}

.ul {
    flex: 1;
    list-style: none;
    text-align: center;

}

.ul li {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;

}

.ul li:hover {
    color: var(--bg-blue);
}

.phoneNumbers {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 100px;
    margin: 0px;
}

.freeCall {
    align-self: flex-start;
    grid-column: -2/-1;
    color: var(--bg-blue);
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.phoneNumbers p {
    margin: 5px;
}

.login {
    font-size: 18px;
}

.login:hover {
    fill: var(--bg-blue);
}

/* Стили для выпадающего списка */
.dropdown {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid var(--bg-blue);
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 17px;
    z-index: 1;
}

/* Стили для каждого элемента списка */
.dropdown li {
    color: var(--black);
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

/* Стили для последнего элемента списка, чтобы убрать разделительную полоску */
.dropdown li:last-child {
    border-bottom: none;
}

/* Анимация для плавного появления */
.dropdownParent:hover .dropdown {
    display: block;

}

.dropdown::before {
    content: '';
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--bg-blue);

}