.header {
    background-color: var(--white);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.logo {
    width: 220px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7%;
}

.ul {
    flex: 1;
    list-style: none;
    text-align: center;

}

.ul li {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;

}

.ul li:hover {
    color: var(--bg-blue);
}


.login {
    font-size: 18px;
}

.login:hover {
    fill: var(--bg-blue);
}

.logout {
    font-size: 18px;
}

.logout:hover {
    fill: var(--bg-blue);
}