.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 14px;
    transition: all 0.2;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {

    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--white);
    background-color: var(--primary);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.delete {
    color: var(--white);
    background-color: rgb(163, 44, 44);
}

.delete:hover {
    color: var(--white);
    background-color: rgb(100, 29, 29);
}

.create {
    color: var(--white);
    background-color: rgb(28, 121, 28);
}

.create:hover {
    color: var(--white);
    background-color: rgb(19, 85, 19);
}