.patientCard {
    border: 2px solid var(--bg-blue);
    border-radius: 15px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: calc(50% - 32px);
    box-sizing: border-box;
    display: inline-block;
    position: relative;

}

.patientName {
    color: #333;
}

.patientText {
    margin: 4px 0;
    color: #666;
}

.button {
    margin-top: 5px;
    border-radius: 20px;
    font-size: 15px;
}

.admission {
    position: absolute;
    bottom: 17px;
    right: 10px;
    font-size: 15px;
    border-radius: 20px;
}