.cardContainer {
    border: 2px solid var(--bg-blue);
    border-radius: 15px;
    padding: 16px;
    margin: 16px;
    width: calc(50% - 400px);
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;

}

.button {
    border-radius: 15px;
    margin-right: 220px;
}

.buttonForDel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.create {
    margin-left: 20px;
    border-radius: 15px;
}

.return {
    margin-right: 20px;
    width: 120px;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    color: white;
    background-color: #00CADE;
    border: white;
    cursor: pointer;
}

.return:hover {
    transform: scale(0.95);
    background-color: #11656d;
    font-weight: 600;
}